* {
    box-sizing: border-box;
}

body {
    background: url(Website-Background.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lora', serif;
}

/* The actual timeline-timeline (the vertical ruler)  */
.timeline-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    grid-column: 1 / 4;
    margin-top: 40px;
}

/* The actual timeline-timeline (the vertical ruler) */
.timeline-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* container-timeline around content */
.container-timeline {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
    width: 44%;
}

/* The circles on the timeline-timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -87px;
    background-color: white;
    border: 4px solid #0077B5;
    top: -4px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container-timeline to the left */
.left-timeline {
    left: 0px;
}

/* Place the container-timeline to the right */
.right-timeline {
    left: 50%;
}

/* Add arrows to the left container-timeline (pointing right) */
.left-timeline::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    right: -30px;
    border: medium solid yellow;
    border-width: 0px 30px 25px 0;
    border-color: transparent #0077B5 transparent transparent;
    transform: rotateY(180deg);
}

/* Add arrows to the right container-timeline (pointing left) */
.right-timeline::before {
    content: "";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0px;
    z-index: 1;
    left: -30px;
    border: medium solid white;
    border-width: 0px 30px 25px 0;
    border-color: transparent #0077B5 transparent transparent;
}

/* Fix the circle for container-timelines on the right side */
.right-timeline::after {
    left: -86px;
}

/* The actual content */
.content-timeline {
    padding: 20px 30px;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    border-radius: 0px;
    margin-top: 0px;
}

.container-timeline.right-timeline {
margin-left: 70px;
}

h4 {
  height: 50px;
  color: white;
  background-color: #0077B5;
  margin-top: -20px;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 12px;

}


/* START: HEADER, BANNER, ABOUT ME section */
body {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}


body {
  width: 1200px;
  height: 770px;/*Check 1: if the width must be specified*/
  display: grid;
  grid-template-columns: 200px 10fr 1fr;
  grid-template-rows: 50px 250px;
  padding-top: 25px;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.relative {
  position: relative;
}

header li {
display: inline-block;
margin: 10px;
font-size: 20px;
color: white;
transition: all .2s ease-in-out;
padding: 7px;
margin-bottom: -10px;
margin-top: -10px;
margin-left: -5px;
}

header li:hover {

  color: black;
  background-color: white;
  padding: 7px;
  font-size: 20px;
  cursor:pointer;
}



main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  margin-left: 20px;
  padding: 10px;
}

.main {
  display: inline-block;
}

.main a {
  display: inline-block;
  margin: 0;
  padding: 0px;
  margin-right: 10px;
  list-style: none;
  color: #0077B5;
  text-decoration: none;
  font-size: 30px;
}

main ul {
  margin-left: -40px;
}

.image-background {
  width: 220px;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

  main h1{
    font-size: 50px;
  }

  main h2 {
    margin-top: -20px;
  }

.image {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: inherit;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

.icon-bar {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.icon-bar-ul li {
  display: inline-block;
  margin: 10px;
  padding-right: 20px;
}

.icon-bar-ul a{
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 30px
}

.about-me {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  border-bottom: 2px solid white;
}


.about-me {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  border-bottom: 2px solid white;
}

header a {
  text-decoration: none;
  color: inherit;
}
